ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:green;
  }
  .container{
      width: 1200px;
      height: 250px;
      background-color: grey;
      color: white;
      border:2px solid ;
      border: 5px inset black;
      margin-top:5px;
      text-align: justify;
      }
  .box1{
    display: inline-block;
      width: 900px;
      height: 500px;
  }
  .box1 p{
padding-left:5px;
text-decoration:justify ;
  }
  .box2{
      width: 300px;
      float: right;
  }
  .top{
    height: 100px;
    position: absolute;
    right: -42px;
    height: 100px;
}
  
  img{
      margin-left:10px ;
  }
  .img{
    border:2px solid white;
  }
  #jinnah{
    font-family: 'Lacquer';

  }
  #iqbal{
    font-family: 'Odibee Sans', ;
  }
  #liaqat{
    font-family: 'Akronim';

  }
  #azam{
    font-family: 'Dancing Script' ;
  }