div{
    margin: 10px;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}
.box1{
width: 240px;
height: 240px;
float: left;
border: 10px solid red;
}
.box2{
    width: 240px;
height: 240px;
float: left;
border: 10px dashed green;
}
.box3{
    width: 240px;
height: 240px;
float: left;
border: 10px solid darkblue;
}
.box4{
    width: 240px;
height: 240px;
float: left;
border: 10px double gray;
}
.box5{
    width: 240px;
height: 240px;
float: left;
border: 10px groove firebrick;
}
.box6{
    width: 240px;
height: 240px;
float: left;
border: 10px ridge orange;
}

.box7{
    width: 240px;
height: 240px;
float: left;
border: 10px inset forestgreen;
}
.box8{
    width: 240px;
height: 240px;
float: left;
border: 10px outset deepskyblue;
}