

.acid{
    background-color:rgb(255, 0,0);
    height: 50px;
}
.Alkali{
    height: 50px;
 background-color: rgb(27, 52, 133);
}
body{
    text-transform: capitalize;
    text-align: center;
}
div{
    color:white;
    height:40px;
}
.one{
    background-color: rgba(255, 0 ,0, 0.5);
} 
.two{
    background-color: #e94343c7;
} 
.three{
    background-color: rgba(218, 53, 53);
}
.four{
    background-color: rgb(177, 123, 24);

}
.five{
    background-color: rgb(240, 182, 75);
}
.six{
    background-color: rgb(255, 255, 0);
    color:black
}
.Neutral{
    background-color: green;
    height: 30px;
}
.seven{
    background-color: rgb(127, 255, 0);
}
.eight{
background-color: rgb(34, 139, 34);
}
.nine{
    background-color: rgb(135, 206, 235);
}
.ten{
    background-color: rgb(53, 53, 224);
}
.eleven{
    background-color: rgb(77, 6, 77);
}
.twelve{
    background-color: rgb(57, 59, 202);
}
.thirteen{
    background-color: rgb(77, 15, 134);
}
.fourteen{
    background-color: rgb(210, 29, 226);
}
.fifteen{
    background-color: rgb(131, 6, 131);
}